*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
    
}
:target{
    scroll-margin-top: 120px ;
}
header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}
a{color: rgb(30, 0, 255);
    text-decoration: none;}
    
    input,textarea{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

section{
    margin: 60px 0;
}
h1{
    text-align: center;
    font-size: 36px;
}

/* classes e id´s */s

.header{
    display: flex;
    justify-content: space-between;

}

.header-logo{
  width: 70px;  

}
.header-logo:hover{
    transition: 1s;
    filter: saturate(0) drop-shadow(1px 2px 14px red);
}

.header-nav ul{
    height: 100%;

}
.header-nav ul li{
    margin: 0 10px ;
    text-transform: uppercase;
    list-style: none;
}

.container{
    width: 1180px;
    margin: 0 auto ;
    padding: 10px 0;
    color:white;
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.header-nav ul a:hover  li {
    color:rgb(248, 59, 1);
    filter: drop-shadow(1px 2px 14px #FF0000);
    transition:1s;
}

.header-social-media ul{
    height: 100%;
}

.header-social-media ul li{
    margin: 0 10px;
    list-style: none;
}

.header-social-media ul a:hover li{
    color:rgb(255, 0, 0);
    transition: 1s;
    width: 20px;
}

#image-sobre{
    width: 50%;
}
#image-sobre img{
    width: 100%;
}
#sobre{
    width: 55%;
    padding-left: 55px;
}

/* Gallery */

.gallery{
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-card{
    width: 30%;
    height: 400px;
    border: 1px solid gray;
    flex-direction: column;
    margin-bottom: 20px;
    background: no-repeat;
}

.gallary-card-btn{
    border: 2px solid black;   
    color:black;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 15px ;
    background-color: rgba(255, 255, 255, 0.6);
}
.gallary-card-btn:hover{
    background-color: white;
    transition: 1s;
}
.gallery-image{
    background-position: center;
    background-size: 100%;
    background-color: #4169E1;
    background-blend-mode: multiply;
}
.gallery-image:hover{
    transition: 1s;
    background-size: 120%;
    background-color: white;
    background-blend-mode: multiply;
}
#card-1{
    background-image: url(../images/img-01-p.jpg);
}

#card-2{
    background-image: url(../images/img-02-p.jpg);
}

#card-3{
    background-image: url(../images/img-03-a.jpg);
}

#card-4{
    background-image: url(../images/img-04-p.jpg);
}

#card-5{
    background-image: url(../images/img-05-p.jpg);
}

#card-6{
    background-image: url(../images/img-06-p.jpg);
}

/* Section Form */

.dados-contato{
    width: 45%;

}

.form{
    width: 45%;
}

/* form */
.btn-submit{
    background-color: #4169E1 ;
    color: white;
}
.btn-submit:hover{
    background-color: #191970;
    transition: 1s;
}